
.forecast-graph{
    margin: 20px;
    margin-top: 35px;
}




.graph-info {
    box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 35px auto 35px auto;
    height: 350px;
    width: 810px;
    text-align: center;
}

.graph-info img{
    width: 50%;
    height: 350px;
    float: right;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}



.graph-info .expl-text{
    width: 50%;
    float: left;
    text-align: center;

}

.graph-info .expl-text p{
    padding: 25px;
}

.graph-info .expl-text h3{
    padding-top: 15px;
}