.coin-view {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c";
}

@media screen and (max-width: 70em) {
    .coin-view {
        grid-template-areas: 
            "a a a a"
            "b b b b"
            "c c c c";
    }
}

.coinInfo {
    grid-area: a;
}

.forecast {
    grid-area: c;
}