.coin-view {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d";
    
    
}

@media screen and (max-width: 70em) {
    .coin-view {
        grid-template-areas: 
            "a a a a"
            "b b b b"
            "c c c c"
            "d d d d";
    }
}

.coinInfo {
    grid-area: a;
}

.forecast {
    grid-area: c;
}

.sign-up-link {
    grid-area: c;
}

.coin-view input {
    grid-area: c;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(36, 77, 211);
    width: 100px;
    height: 40px;
    margin: 0 auto;
    justify-content: center;   
}

.sign-in {
    grid-area: d;
}

.inside-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.inside-div span{
    border-radius: 8px;
    background-color: white;
    text-align: center;
    box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
}