@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=MuseoModerno:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color:#F0F6FF ;
    font-family: 'Barlow Condensed', sans-serif;
}

button {
    font-family: inherit;
}

#root {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-areas: 
        "header header header header"
        "main main main sidebar"
        "footer footer footer footer";
}

@media screen and (max-width: 70em) {
    #root {
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "sidebar sidebar sidebar sidebar"
            "footer footer footer footer";
    }
}

.main {
    grid-area: main;
}
