.topcoins {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

table {
    padding: 20px;
    align-self: center;
    border-collapse: collapse;
    box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
    
    
}


th,td {
    padding: 10px 30px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
    
}

.negative {
    color: red;
}

.positive {
    color: green;
}

.topcoins tbody tr{
    cursor: pointer;
}

.topcoins tbody tr:hover td {
    background-color: rgb(238, 238, 238);
    
}