.navBar{
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.logotype{
    cursor: pointer;
    width: 100px;
}
.logField{
    display: flex;
    margin-top: 25px;
    gap: 20px;
}
.profileWrapper{
    display:flex;
    margin-top: 10px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.profileWrapper button{
    background-color: pink;
    border-radius: 8px;
}