.navBar{
    grid-area: header;
    display: flex;
    flex-direction: column;
    background-color: white;
    grid-template-columns: repeat(10, 1fr);
}
.logotype{
    cursor: pointer;
    width: 100px;
}
.logField{
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 2px;
}
.profileWrapper{
    text-align: end;
    padding: 2px;
    font-weight: bold;
}

.signup-register {
    padding: 5px;
}

.profileWrapper button{
    border-radius: 8px;
}

.item {
    text-align: end;
}

.header-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    border-bottom: 1px solid #f0f6ff;
}

.loggo-header {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-family: 'MuseoModerno', cursive; 
}

.profileWrapper .myPageButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}
.profileWrapper .logOutButton{
    background-color: transparent;
    border: none;   
    border-radius: 8px;
    width: 80px;
    height: 32px;
    padding: 0px 16px;
    line-height: 18px;
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: medium;
}

.profileWrapper .logOutButton:hover{
    background-color: #f0f6ff;
}

.myPageButton:hover {
    color: #3861FB;
}

.top-navbar {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #f0f6ff;
}