.navBar{
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.logotype{
    cursor: pointer;
    width: 100px;
}
.logField{
    display: flex;
    margin-top: 25px;
    gap: 20px;
}
.profileWrapper{
    display:flex;
    margin-top: 10px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.profileWrapper .myPageButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.profileWrapper .logOutButton{
    background-color: transparent;
    border: none;   
    border-radius: 8px;
    font-weight: 600;
    width: 80px;
    height: 32px;
    font-size: 12px;
    padding: 0px 16px;
    line-height: 18px;
}
.profileWrapper .logOutButton:hover{
    background-color: #f0f6ff;
    
}