.registerPage{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content:  center;

}

.formWrapper{
    grid-column: 5 / 9;
    margin: 10px 0;
}
.formWrapper h1{
    text-align: center;
}
.formWrapper input{
    width: 100%;
    padding: 12px;
    margin: 8px 0px 15px 0px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }