.forecast-info {
    grid-area: d;
    padding: 20px;
}

.forecast-info table{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    table-layout: auto;
}
.forecast-info td, .forecast-info th {
    border: 1px solid #000000;
}

.forecast-graph {
    margin: 20px;
}

.forecast-button {
    grid-area: c;
    text-align: center;
}

