.forecast-info {
    grid-area: d;
    padding: 20px;
}

.forecast-info table{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    table-layout: auto;
}
.forecast-info td, .forecast-info th {
    border: 1px solid #000000;
}

.forecast-graph {
    margin: 20px;
}


.forecast-button {
    grid-area: c;
    text-align: center;
}


.forecast-info .button, .forecast-info .save-info {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.button button {
    padding: 7px;
}
#forecastBtn{
    cursor: pointer;
    background: #3861FB;
    color: white;
    border: 0px;
    border-radius: 8px;
    font-weight: 600;
    width: auto;
    height: 32px;
    font-size: 12px;
    padding: 0px 16px;
    line-height: 18px;
}
#forecastBtn:hover{
    background-color: #5d7df1;
}

